@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Hello world!</h2>
    <form asp-controller="Home" asp-action="Index" method="post">
        <input type="text" name="City" />
        <button type="submit"> Submit </button>
    </form>
</body>
</html>